.mat-card {
  text-align: center;
}
.mat-card-image {
  max-width: 160px;
  border-radius: 50% !important;
}
.mat-card-header {
  text-align: center;
}
.profile-head div.mat-card-header-text {
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}
.short-bio ul.list-group {
  padding: 0px;
}
.short-bio ul.list-group .list-group-item {
  padding: 2px;
  color: #64646f;
}
.short-bio ul.list-group .list-group-item .badge-pill {
  color: #ccc;
}
.major-skills .mat-card {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 8px;
  padding-bottom: 0px;
}
.carousel-item {
  max-height: 360px;
}
.profile-wrapper .row {
  max-width: calc(100% - 32px);
}
.carousel-item:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.5);
}