

<mat-grid-list cols="4">
  <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'#252532fa'">
    <mat-card class="example-card">
      <img mat-card-image src="/assets/profile/default.jpeg" alt="Shashi Badhuk">
      <mat-card-header>
        <mat-card-title>Shashi Badhuk</mat-card-title>
        <mat-card-subtitle>NodeJS Full Stack Engineer</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button mat-icon-button>
          <mat-icon fontSet="fab" fontIcon="fa-linkedin-in"></mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon fontSet="fab" fontIcon="fa-stack-overflow"></mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon fontSet="fab" fontIcon="fa-github"></mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon fontSet="fab" fontIcon="fa-twitter"></mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon fontSet="fab" fontIcon="fa-facebook"></mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="3" [rowspan]="1" [style.background]="'#252532fa'">
    Banner
  </mat-grid-tile>
  <mat-grid-tile [colspan]="3" [rowspan]="1" [style.background]="'#252532fa'">
    Skills
  </mat-grid-tile>


</mat-grid-list>


