# Cache-Control Integrated
# One day Caching for image files
<FilesMatch ".(jpg|jpeg|png|gif|ico)$">
Header set Cache-Control "max-age=86400"
</FilesMatch>
# One hour caching for css and js
<FilesMatch ".(css|js)$">
Header set Cache-Control "max-age=3600"
</FilesMatch>

<IfModule mod_rewrite.c>
	RewriteEngine On

 	# -- REDIRECTION to https (optional):
	# If you need this, uncomment the next two commands
	# RewriteCond %{HTTPS} !on
  	# RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
	# --

	RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
	RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d

	RewriteRule ^.*$ - [NC,L]
	RewriteRule ^(.*) index.html [NC,L]
</IfModule>